html {
  background: Lavender;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

header {
  background: Orchid;
  color: white;
  padding: 2em;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.col-m-12 {
  background: FloralWhite;
  padding: .5em;
  margin: 1em;
}


img {
  height: 15em;
  width: 20em;
  padding: 1em;
  float: left;
}

footer {
  background: Orchid;
  margin-top: 2em;
  text-align: center;
}

@media (min-width: 1160px) {
  html {
    background: DarkOrange;
    height: 100%;
  }

    header {
      background: Gold;
      color: white;
      padding: 2em;
      text-align: center;
    }

    .row {
      display: flex;
      flex-direction: row;
    }

    img {
      float: none;
    }

    p {
      padding: 1em;
    }

    footer {
      background: Gold;
      color: white;
    }
}
